#navigation {
  background-color: black !important;
  padding: 0;

  .navbar-collapse ul {
    display: inherit;
    padding: 0;
  }

  .loginIcon {
    display: contents;
  }

  ul li a {
    color: white !important;
    text-decoration: none !important;
  }

  ul li .nav-link {
    color: white;
    font-family: "Proxima", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    display: table-cell;
    vertical-align: middle;
    height: 60px;
    font-size: 16px;
    padding: 0 20px;
  }

  ul li:hover > a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: #FFF30A;
  }

  ul li > .active:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: #FFF30A;
  }

  ul li {
    height: 60px;
    position: relative;
    list-style-type: none;
  }

  .navbar-nav .nav-link:hover {
    border-bottom: 1px solid #FFF30A;
  }

  .navbar-brand {
    background-image: url('../../images/sportify_logo.svg');
    background-repeat: no-repeat, repeat;
    width: 190px;
    height: 50px;
    background-size: contain;
    padding: 0;
    margin: 0;
    background-position: right 2px;
  }

  .signUp {
    padding-right: 10px;
  }

  .btn-primary {
    background: #FEDF00 !important;
    color: black !important;
    font-family: "Proxima", Arial, sans-serif !important;
    text-transform: uppercase;
    border-radius: 2px !important;
    border-color: #FEDF00 !important;
    font-weight: 600 !important;
    padding: 8px 15px !important;
  }

  .btn-primary:hover {
    background:white !important;
    color: black;
    border-color: white !important;
  }

  .btn-secondary {
    padding: 8px 15px !important;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }

  .navbar-toggler:focus {
    outline:none !important;
  }
}


@media only screen and (max-width: 1025px) {
  #navigation .navbar-brand {
    background-image: url('../../images/sportify_logo_mini.svg');
    background-repeat: no-repeat, repeat;
    width: 60px;
    height: 45px;
    background-size: contain;
    padding: 0;
    margin: 0;
    background-position: right center;
  }
}

@media only screen and (max-width: 768px) {
  #navigation {
    padding-top: 7px;
    padding-bottom: 8px;

    .navbar-collapse ul {
      padding: 0;
      display: inline-block;
    }

    .profileNavPanel {
      order: 1;
      margin-left: auto !important;
      padding: 8px 15px !important;
    }

    .navbar-collapse {
      text-align: center;
      order: 2;
    }

    .navbar-collapse {
      border-top: 3px solid white;
      padding-top: 10px;
      margin-top: 8px;
    }

    ul li .nav-link {
      display: inherit;
      height: 30px !important;
      color: white;
      padding-top: 2px;
      padding-bottom: 4px;
    }

    ul li {
      height: 30px;
      margin-bottom: 6px;
    }

    .navbar-toggler {
      order: 2;
    }
  }
}

@media only screen and (min-width: 767px) and (max-width: 987px) {
  #navigation .btn-primary {
    padding: 8px 15px !important;
  }
}

@media only screen and (max-width: 767px) {
  #navigation .profileNavPanel {
    padding: 0 15px !important;
  }
}