.plusMinusDiv {
  .react-numeric-input {
    width: 40% !important;
    margin: 0 auto !important;
    height: 60px;

    input {
      height: 58px;
      outline: none !important;
      box-shadow: none !important;
      background-color: #F5F5F5;
    }
  }

  b {
    cursor: pointer !important;
    padding: 5px 30px;
    background-color: white !important;
  }

}


@media (max-width: 986px) {
  .plusMinusDiv {
    .react-numeric-input {
      width: 60% !important;
      margin: 0 auto !important;
      height: 60px;
    }
  }
}

@media (max-width: 768px) {
  .plusMinusDiv {
    .react-numeric-input {
      width: 85% !important;
      margin: 0 auto !important;
      height: 60px;
    }
  }
}