.card-menu-container {
  display: flex;
  justify-content: space-around;
}

.card-container {
  padding-top:20px;
  padding-bottom: 20px;
}

.card-body {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.card-title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
}

.card-text {
  text-align: center;
}
