.teamDetailDesc {
  text-align: center;
}

.teamDetailDesc > div > p {
  padding-bottom: 4px;
  font-size: 20px;
  text-align: center;
  font-family: "Futura PT", Arial, sans-serif;
  border-bottom: 2px solid black !important;
}

.nav-tabs {
  .nav-item {
    background: black;
    color: white !important;
    font-family: "Proxima", Arial, sans-serif !important;
    letter-spacing: 2px;
    border-radius: 0 !important;
    text-decoration: none !important;
    border: 1px solid #cbcbcb !important;
    border-bottom: none !important;
  }

  .active {
    background: #FEDF00 !important;
    border: 1px solid #c3ac00 !important;
    border-bottom: none !important;
    color: black !important;
  }

  .nav-item:nth-child(2) {
    border-left: none !important;
    border-right: none !important;
  }
}