.card-container {
    width: 30rem;
    height: 200px;

    &:hover {
        background: #FEDF00;
        cursor: pointer;
    }
}

.card-body {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.card-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
}

.card-text {
    text-align: center;
}
