html, body {
  background: #F5F5F5 !important;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  position: relative;
  background: #F5F5F5 !important;
  padding-bottom: 10rem;
}

a {
  color: black !important;
  text-decoration: underline !important;

  &:hover {
    text-decoration: none !important;
    color: black !important;
  }
}

a:hover, a:active, a:focus {
  text-decoration: none;
  color: black;
  outline: none;
}

button:focus {
  box-shadow: none !important;
  outline: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  background: #F5F5F5 !important;
}

input[type="email"],
input[type="password"],
input[type="text"],
.form-control[readonly] {
  border-radius: 2px;
  border: 0;
  background-color: #FFF;
  padding: 13px 15px;
  display: block;
  outline: none;
  resize: none;
  line-height: 24px;
  font-size: 16px;
  font-family: "Proxima N", Arial, sans-serif;
  font-weight: 500;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
  height: 40px;
}

footer {
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

label {
  font-size: 18px;
}

.btn-primary {
  background: #FEDF00 !important;
  color: black !important;
  font-family: "Proxima", Arial, sans-serif !important;
  text-transform: uppercase;
  padding: 8px 25px !important;
  font-size: 16px !important;
  letter-spacing: 2px;
  border-radius: 2px !important;
  text-decoration: none !important;
  border: 1px solid #c3ac00 !important;

  &:hover {
    background: black !important;
    color: white !important;
    border-color: black !important;
  }
}

.btn-secondary {
  background: white !important;
  color: black !important;
  font-family: "Proxima", Arial, sans-serif !important;
  text-transform: uppercase;
  padding: 8px 20px !important;
  font-size: 16px !important;
  letter-spacing: 2px;
  border-radius: 2px !important;
  border-color: #9c9c9c !important;
  text-decoration: none !important;

  &:hover {
    background: black !important;
    color: white !important;
    border-color: black !important;
  }
}

@media only screen and (max-width: 400px) {
  .btn-secondary, .btn-primary {
    padding: 8px 10px !important;
  }
}

.modal-title {
  height: 1rem;
  margin: auto;
}

.alert-labeled {
  padding: 0;

  .close > * {
    display: table-cell;
    vertical-align: middle;
    padding: 11px;
  }
}

.alert {
  position: fixed !important;
  z-index: 10;
  width: 75%;
  margin-top: 10px;
  left: 6px !important;
  border-radius: 0 !important;
  padding: 0 !important;

  .alert-labeled-row {
    display: table-row;
    padding: 0;

    .alert-label {
      vertical-align: middle;
      width: auto;
      padding: 10px 15px;
      height: 100%;
      font-size: 1.1em;
    }

    .alert-label-danger {
      color: #f8d7da;
      background-color: #ff6a77;
    }

    .alert-label-warning {
      color: #fff3cd;
      background-color: #ffd758;
    }

    .alert-label-success {
      color: #d4edda;
      background-color: #64e283;
    }

    .alert-labelled-cell {
      padding: 10px;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.modal-content {
  background-color: #F5F5F5 !important;
}

.modal-title {
  padding-bottom: 32px;

  h3 {
    font-family: "Futura PT", Arial, serif;
  }
}

@media only screen and (max-width: 400px) {
  .alert {
    width: 90%;
    transform: translate3d(10px, 67px, 0px);

    .alert-labelled-cell {
      padding-right: 50px;
    }
  }
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.css-yk16xz-control {
  height: 44px !important;
}

.css-1hwfws3 {
  margin-top: 3px !important;
  padding: 0 8px !important;
  height: 39px !important;
}

.css-1uccc91-singleValue {
  top: 62% !important;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.css-1wa3eu0-placeholder {
  top: 40%;
}