@font-face {
	font-family: Proxima;
	font-weight: 300;
	font-style: normal;
	src: url("../fonts/proxima.otf");
}

@font-face {
	font-family: Proxima;
	font-weight: bold;
	font-style: normal;
	src: url("../fonts/proxima_bold.otf");
}

html, body{
	font-family: "Proxima", Arial, sans-serif !important;
	background: #F5F5F5 !important;
}

#root {
	background: #F5F5F5 !important;
}

.pre-line {
	white-space: pre-line;
}

#navigation {
	background-color: black !important;
	padding:0;
}

#navigation .navbar-collapse ul {
	display: inherit;
	padding:0;
}

#navigation ul li .nav-link {
	color: white;
	font-family: "Proxima", Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	display:table-cell;
	vertical-align: middle;
	height:60px;
	font-size:16px;
	padding: 0 20px;
}

#navigation ul li:hover > a:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 4px;
	background: #FFF30A;
}

#navigation ul li > .active:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 4px;
	background: #FFF30A;
}

#navigation ul li {
	height: 60px;
	position: relative;
	list-style-type: none;
}

#navigation .navbar-nav .nav-link:hover {
	border-bottom: 1px solid red;
}

#navigation .navbar-brand {
	background-image: url('../images/sportify_logo.svg');
	background-repeat: no-repeat, repeat;
	width: 190px;
	height: 50px;
	background-size: contain;
	padding: 0;
	margin: 0;
	background-position: right center;
}

@media only screen and (max-width: 1025px) {
	#navigation .navbar-brand {
		background-image: url('../images/sportify_logo_mini.svg');
		background-repeat: no-repeat, repeat;
		width: 60px;
		height: 45px;
		background-size: contain;
		padding: 0;
		margin: 0;
		background-position: right center;
	}
}

@media only screen and (max-width: 768px) {
	#navigation {
		padding-top: 7px;
		padding-bottom: 8px;
	}

	#navigation .navbar-collapse ul {
		padding: 0;
		display: inline-block;
	}

	#navigation .loginButtonMobile {
		order: 2;
		padding: 8px 15px !important;
	}

	#navigation .navbar-collapse {
		text-align: center;
		order: 3;
	}

	#navigation .navbar-collapse {
		border-top: 3px solid white;
		padding-top: 10px;
		margin-top: 8px;
	}

	#navigation ul li .nav-link {
		display: inherit;
		height: 30px !important;
		color: white;
		padding-top: 2px;
		padding-bottom: 4px;
	}

	#navigation ul li .active {
		border: 2px solid #FFF30A;
	}

	#navigation ul li {
		height: 30px;
		margin-bottom: 6px;
	}

	#navigation .navbar-toggler {
		order: 3;
	}

	#navigation .searchButton {
		margin-left: auto !important;
		order: 1;
	}
}

#navigation .signUp {
	padding-right: 15px;
}

#navigation .btn-primary {
	background: #FEDF00 !important;
	color: black !important;
	font-family: "Proxima", Arial, sans-serif !important;
	text-transform: uppercase;
	padding: 8px 25px !important;
	border-radius: 2px !important;
	border-color:
			#FEDF00 !important;
	font-weight: 600 !important;
}

#navigation .btn-primary:hover {
	background:white !important;
	color: black;
	border-color: white !important;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

@media only screen and (min-width: 767px) and (max-width: 987px) {
	#navigation .btn-primary {
		padding: 8px 15px !important;
	}
}

.navbar-toggler:focus {
	outline:none !important;
}

.breadcrumb {
	padding: 0 0 !important;
	background-color: transparent !important;
}

.breadcrumb-item.active {
	color: #6e6e6e !important;
}

.breadcrumb-item {
	color: #FFF30A !important;
}

.breadcrumb-item a {
	color: black !important;
	text-decoration: underline;
}

.breadcrumb-item a:hover {
	text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: ">" !important;
}

footer {
	background-color: black;
	color: white;
}

.pageHeading{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#loginForm {
}

#loginForm label {
	font-size: 16px;
	font-weight: bold;
}

#loginForm input[type="email"], #loginForm input[type="password"] {
	border-radius: 2px;
	border: 0;
	background-color: #FFF;
	padding: 13px 15px;
	display: block;
	outline: none;
	resize: none;
	line-height: 24px;
	font-size: 16px;
	font-family: "Proxima N", Arial, sans-serif;
	font-weight: 500;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
	height: 40px;
}

.btn-primary {
	background: #FEDF00 !important;
	color: black !important;
	font-family: "Proxima", Arial, sans-serif !important;
	text-transform: uppercase;
	padding: 8px 25px !important;
	font-size:16px !important;
	letter-spacing: 2px;
	border-radius: 2px !important;
	border-color: #FEDF00 !important;
	text-decoration: none !important;
}

.btn-primary:hover {
	background: black !important;
	color: white !important;
	border-color: black !important;
}

.btn-secondary {
	background: white !important;
	color: black !important;
	font-family: "Proxima", Arial, sans-serif !important;
	text-transform: uppercase;
	padding: 8px 20px !important;
	font-size:16px !important;
	letter-spacing: 2px;
	border-radius: 2px !important;
	border-color: black !important;
	text-decoration: none !important;
}


.btn-secondary:hover {
	background: #f9f9f9 !important;
	color: black !important;
	border-color: black !important;
}

.blackHref {
	color: black;
	text-decoration: underline;
}

.blackHref:hover {
	text-decoration: none !important;
	color: black;
}

@media only screen and (max-width: 400px) {
	.btn-secondary, .btn-primary {
		padding: 8px 10px !important;
	}
}